.body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.choose-file-button{
  margin: 10px; 
  background: black; 
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid #333;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  color: beige; 
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.choose-file-button:hover{
  background: rgba(255, 255, 255, 0.9);
  color: white; 
  border-color: #444; 
  box-shadow: 0 6px 20px 0 rgba(93, 93, 93, 0.23);
}

.back-button {
  align-self: flex-start; 
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 10px; 
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff; 
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  z-index: 10; 
}

input[type="file"]::file-selector-button {
  background: #000; 
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #111; 
}

.app-container {
  background-color: black;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; 
}

.loading-indicator,
.error-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scene-container {
  flex-grow: 1;
  background: white; 
}