/* Set the black background and position buttons in the corners */
.app-container {
    background-color: black;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: '100vh';
  }
  
  .header {
    width: 100%;
  }
  
  .back-button {
    align-self: flex-start; 
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 10px; 
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 10px #888; 
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    z-index: 10; 
  }
  
  .choose-file-button-display{
    position: absolute;
    margin: 10px; 
    background: black; 
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #333;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
  }

  .choose-file-button-display:hover{
    background: rgba(255, 255, 255, 0.9);
    color: white; 
    border-color: #444; 
    box-shadow: 0 6px 20px 0 rgba(93, 93, 93, 0.23);
  }
  
  input[type="file"]::file-selector-button {
    background: #000; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  input[type="file"]::file-selector-button:hover {
    background: #111; 
  }