.annotation-marker {
    width: 9px;
    height: 10px;
    background: radial-gradient(circle, lightgreen 60%, transparent 60%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: left 0.3s ease-out, top 0.3s ease-out; /* Smooth transition for position changes */
}

.annotation-list {
    font: times-new-roman; 
    position: flex;
    top: 850px;
    left: 20px;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}